body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: #C8CC92;
}

header {
    background-color: #C8CC92;
    color: white;
    padding: 20px;
    font-size: 25px;
}

main {
    padding: 40px;
    font-size: 15px;
}
.coffee-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 400px;
    margin: auto;
}

.coffee-gallery img {
    width: 100%;
    border-radius: 10px;
}

p {
    font-size: 15px;
    margin-top: 20px;
}

footer {
    background-color: #C8CC92;
    color: white;
    padding: 15px;
    font-size: 12px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
