body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #C8CC92;
}

header {
    background-color: #C8CC92;
    color: white;
    padding: 20px;
}

main {
    padding: 40px;
}

img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

p {
    font-size: 50px;
    margin-top: 20px;
}

footer {
    background-color: #C8CC92;
    color: white;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
