body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

    cursor: url('cursor.png'), 16 16, auto;
}

a:hover {
    cursor: pointer;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-buttons a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    border: 1px solid white;
    padding: 6px 12px;
    transition: 0.3s;
}

.nav-buttons a:hover {
    background-color: white;
    color: black;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

/* HOME IMAGE */
main img {
    width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
}

    main img:hover {
    transform: scale(1.1);
}

/* GALLERY */
.gallery {
  display: grid;
    grid-template-columns: repeat(3, 1fr); /* fix 3 oszlop */
    gap: 20px;
    
    width: 600px;          /* fix szélesség */
    margin: 0 auto;        /* középre igazítás */
}

.gallery img {
    width: 100%;
    aspect-ratio: 1 / 1; /* négyzet */
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 10px;
    font-size: 12px;
    border-top: 1px solid white;
}
